//导入公共样式
@import 'public';
/*主要内容部分样式*/
//主要内容部分的样式
#con-box {
    width: 100%;
    background: #f2f2f2;
    overflow: hidden;

    .con-mid {
        width: 1080px;
        margin: 0 auto;
        padding-top: 34px;
        box-sizing: border-box;
        overflow: hidden;

        .num {
            margin-bottom: 13px;

            span {
                color: rgb(111, 76, 49);
            }
        }

        #con-list {
            width: 1080px;
            margin-bottom: 135px;
            overflow: hidden;

            li {
                width: 265px;
                height: 289px;
                background: white;
                text-align: center;
                float: left;
                margin-left: 5px;
                margin-bottom: 5px;

                a img {
                    width: 195px;
                    height: 195px;
                }

                .sp1 {
                    display: inline-block;
                    font-size: 14px;
                    width: 60px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    color: #3e8ade;
                    border: 1px solid #a9caf0;
                    border-radius: 3px;
                }

                .sp2 {
                    display: inline-block;
                    font-size: 14px;
                    width: 66px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    color: white;
                    background-color: #ff7a00;
                    border-radius: 3px;
                }

                .gif {
                    width: 65px;
                    height: 20px;
                    vertical-align: middle;
                }

                .me {
                    width: 91px;
                    height: 20px;
                    vertical-align: middle;
                }

                .ske {
                    display: inline-block;
                    width: 66px;
                    height: 20px;
                    font-size: 14px;
                    color: white;
                    background-color: red;
                    border-radius: 3px;
                }
                .sal{
                    display: inline-block;
                    width: 66px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    font-size: 14px;
                    color: #3e8ade;
                    border: 1px solid #a9caf0;
                    border-radius: 3px;
                }
                .dly{
                    display: inline-block;
                    width: 66px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    font-size: 14px;
                    color: white;
                    border-radius: 3px;
                    background-color: #CD8C39;
                }
                .new{
                    display: inline-block;
                    width: 37px;
                    height: 20px;
                    font-size: 14px;
                    text-align: center;
                    line-height: 20px;
                    color: #FF7919;
                    border: 1px solid #FF7919;
                    border-radius: 3px;
                }
                .con-name {
                    height: 26px;
                    line-height: 26px;
                    margin-top: 5px;
                    color: #333;
                    font-size: 12px;
                }

                .con-pri span {
                    color: #a92112;
                    font-size: 12px;
                }

            }

            li:hover {
                box-shadow: 0 10px 10px 0 rgba(48, 55, 66, 0.1);
                transform: translate(0, -1px);
                transition: all 0.3s linear;
            }
        }
    }
}